 body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }

        label {
            font-weight: bold;
            width: 100px;
            font-size: 14px;
        }

        .box {
            border: #666666 solid 1px;
        }

        @import url(https://fonts.googleapis.com/css?family=Roboto:300);

        .login-page {
          width: 360px;
          padding: 8% 0 0;
          margin: auto;
        }
 .menu-page {
     width: 360px;
     padding: 8% 0 0;
     margin: auto;
 }
        .form {
          position:relative;
          z-index: 1;
          background: #FFFFFF;
          max-width: 100%;
          margin: 0 auto 10px;
          padding: 15px;
          text-align: center;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
        .form input {
          font-family: "Roboto", sans-serif;
          outline: 0;
          background: #f2f2f2;
          width: 100%;
          border: 0;
          margin: 0 0 15px;
          padding: 15px;
          box-sizing: border-box;
          font-size: 14px;
        }
        .btn {
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          outline: 0;
          width: 60%;
          border: 0;
          padding: 15px;
          font-size: 14px;
          -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
          cursor: pointer;
        }
        .masini{
            --bs-btn-color: #fff;
            --bs-btn-bg: #0d6efd;
            --bs-btn-border-color: #0d6efd;
            --bs-btn-hover-color: #02d8f5;
            --bs-btn-hover-bg: #02d8f5;
            --bs-btn-hover-border-color: #0a58ca;
            --bs-btn-focus-shadow-rgb: 49, 132, 253;
            --bs-btn-active-color: #02d8f5;
            --bs-btn-active-bg: #0a58ca;
            --bs-btn-active-border-color: #0a53be;
            --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #0d6efd;
            --bs-btn-disabled-border-color: #0d6efd;
            padding: 1;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 1;
            width: 100%;
            margin: 1;
            border: 0.5;
            padding: 3%;
            font-size: 100%;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

 .body-as {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .aside {
     width: 250px;
     height: 100%;
     background-color: #333;
     color: #fff;
     position: fixed;
     top: 0;
     left: -250px;
     transition: left 0.3s ease-in-out;
 }

 #main-content {
     transition: margin-left 0.3s;
     padding: 20px;
 }

 .button-as {
     font-size: 20px;
     cursor: pointer;
     border: none;
     background-color: #333;
     color: #fff;
     padding: 10px;
 }
 .logout{
     background-color: red;


 }
        .logout:hover {
            background-color: darkred;
            color: white;
        }


        .form .message {
          margin: 15px 0 0;
          color: #b3b3b3;
          font-size: 12px;
        }
        .form .message a {
          color: #4CAF50;
          text-decoration: none;
        }
        .form .register-form {
          display: none;
        }
        .container {
          position: relative;
          z-index: 1;
          max-width: 300px;
          margin: 0 auto;
        }
        .container:before, .container:after {
          content: "";
          display: block;
          clear: both;
        }
        .container .info {
          margin: 50px auto;
          text-align: center;
        }
        .container .info h1 {
          margin: 0 0 15px;
          padding: 0;
          font-size: 36px;
          font-weight: 300;
          color: #1a1a1a;
        }
        .container .info span {
          color: #4d4d4d;
          font-size: 12px;
        }
        .container .info span a {
          color: #000000;
          text-decoration: none;
        }
        .container .info span .fa {
          color: #EF3B3A;
        }

        .radioZona{

            border: 0px;
            width: 100%;
            height: 2em;
        }
 .modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 100px; /* Location of the box */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 /* Modal Content */
 .modal-content {
     background-color: #fefefe;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
 }

 /* The Close Button */
 .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
 }

        body {
            background: radial-gradient(#ff4757,#ff09e7,#0028ff,#00fff7);
            background-size: 200% 300%;
            animation: gradient 15s ease infinite;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 30%;
            }
            50% {
                background-position: 100% 30%;
            }
            100% {
                background-position: 0% 30%;
            }
        }